@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap");
/* https://sourceb.in/BBPILTBOPk */

@font-face {
  font-family: MadetommyBlack;
  src: url("../fonts/MADE TOMMY Black_PERSONAL USE.otf") format("opentype");
}
@font-face {
  font-family: MadetommyRegular;
  src: url("../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    0deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background-color: #030222;
  overflow-x: hidden;
}

.ourMethod h1 {
  color: white;
  font-size: 5rem;
  margin-bottom: 50px;
  font-family: MadetommyBlack;
}

.methodDiv {
  position: absolute;
  top: 100%;
}

.ourMethod h3 {
  font-family: MadetommyBlack;
  font-size: 1.8rem;
  padding-top: 20px;
}

.ourMethod img {
  width: 30%;
  padding-top: 30px;
}

.sub {
  padding-top: 50px;
  font-family: MadetommyBlack;
  font-size: 1.8rem;
}

.ourMethod span {
  font-size: 90px;
  position: absolute;
  left: 85%;
  top: 10%;
}
.div {
  padding: 60px 0;
  min-height: 100vh;
  position: relative;
  top: 785px;
  padding-bottom: 880px;
}
.bg-gray {
  background-color: none;
}

.calendly {
  position: relative;
  top: 500px;
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 5rem;
}

.site-heading h2 span {
  color: #f14400;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #f14400 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid;
  height: 15px;
  margin: 0 5px;
  width: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
  background: #00a01d none repeat scroll 0 0;
  border-color: #00a01d;
}

.we-offer-area .item {
  background: #ffffff none repeat scroll 0 0;
  border-left: 2px solid #00a01d;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 5px #454242;
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.we-offer-area.text-center .item {
  background: #2a2727 none repeat scroll 0 0;
  border: medium none;
  padding: 67px 40px 64px;
}

.we-offer-area.text-center .item i {
  background: #f14400 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
  border: 2px solid #f14400;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 90px;
  z-index: -1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
  border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
  margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  right: 30px;
  top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
  background: #00a01d none repeat scroll 0 0;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
  color: #f41717;
}

.we-offer-area .item i {
  color: #00a01d;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 20px;
}

.we-offer-area .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.we-offer-area .item p {
  margin: 0;
  font-size: 15px;
  padding-top: 5px;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
  background: #000080 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: -1;
}

.we-offer-area .item:hover::after {
  left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
  color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i::after {
  border-color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i {
  background-color: #ffffff !important;
  color: #e6b01e !important;
}

.we-offer-area.text-left .item i {
  background: #00a01d none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 60px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  z-index: 1;
  text-align: center;
}

.we-offer-area.text-left .item i::after {
  border: 2px solid #00a01d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 120px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 120px;
}
.footer {
  padding: 40px;
  background-color: #1c1c1c;

  margin-top: auto;
  height: auto;
}


.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #f4f4f4;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid rgb(250, 247, 247);
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  color: white;
}
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul a:hover {
  opacity: 1;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(246, 242, 242);
}

.sizing {
  position: relative;
  top: 50%;
}

.heading img {
  width: 10%;
  height: auto;
  font: left;
  position: absolute;
  top: 15%;
}

.heading h3 {
  color: white;
  font-size: 35px;
  position: absolute;
  left: 10%;
  top: 18%;
  font-family: MadetommyBlack;
}

.heading h1 {
  color: white;
  font-size: 60px;
  position: absolute;
  left: 4%;
  top: 25%;
  font-family: MadetommyBlack;
}

.heading a {
  color: white;
  font-size: 25px;
  position: absolute;
  left: 4%;
  top: 80%;
  font-family: MadetommyBlack;

  padding-bottom: 15px;
}

.heading a:hover {
  color: #ff30af;
  text-decoration: none;
}

.heading a::before {
  background: #f14400 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 12%;
  margin-left: -25px;
  position: absolute;
  width: 100%;
}

.heading p {
  color: white;
  font-size: 15px;
  position: absolute;
  left: 4%;
  top: 50%;
  font-family: MadetommyBlack;
}

.UNKNOW {
  color: #ffafe0;
  font-size: 60px;
  font-family: MadetommyBlack;
}

.UNFOR {
  color: #ff30af;
  font-size: 60px;
  font-family: MadetommyBlack;
}

html {
  font-size: 62.5%;
  /* font-family: 'Roboto', sans-serif; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#slider-range-min {
  outline: 0;
  background: slategrey;
  height: 3.6em;
  border: 0;
  border-radius: 0;
}
.ui-slider-handle {
  outline: 0;
  top: 1.1em;
  margin-left: -0.6em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  background: white;
  cursor: pointer;
}

.ui-slider-range {
  background: #db4d57;
  border-radius: 0;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.BG5 {
  width: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 10), rgba(0, 0, 0, 10)),
  url(../images/BG5.jpg);
  background-size: cover ; */
  background: rgb(9, 9, 121);
  background: linear-gradient(
    0deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  height: fit-content;

  position: relative;
  top: -15px;
}

.heroIMG {
  width: 200px;
  height: 110px;
  float: left;

  position: absolute;
  left: 2%;
  top: 25%;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-out;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.container2 span {
  font-size: 15px;
  position: relative;
  left: 10%;
}

/* .container2 {
  position: relative;
  top: 0%
} */

/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
}

.centered h3 {
  text-transform: capitalize;

  position: relative;
  left: 50%;
  font-size: 3rem;
}

.centered h1 {
  font-size: 5rem;
  text-transform: capitalize;
  position: relative;
  left: 70%;
  color: white;
  top: -35px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.2rem;
}

.centered button {
  position: absolute;
  left: 50%;
  top: 185%;
  border: 3px solid black;
  background-color: white;
  color: black;

  color: rgb(0, 0, 0);

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.centered button:hover {
  background-color: rgb(204, 200, 200);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #101010;
  border-bottom: 1px solid #e2e8f0;
  position: relative;
  top: -15px;
  padding-top: 50px;
  z-index: 1;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.copyRight {
  text-align: center;
  position: relative;
  top: 15px;
  font-size: 10px;
}

.nav-link:hover {
  color: #f14400;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
  padding-bottom: 10px;
}

.col-sm h1 {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
.section-contact {
  min-height: 100vh;
  padding-top: 23px;
  padding-bottom: 100px;
  background-image: linear-gradient(
    175deg,
    rgb(20, 19, 19) 50%,
    #292329 50%,
    #161616
  );
  margin-top: auto;
}
.section-contact .container {
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}
@media (min-width: 768px) {
  .section-contact .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (min-width: 1024px) {
  .section-contact .container {
    padding-left: 128px;
    padding-right: 128px;
  }
}
.section-contact .container h1 {
  color: rgb(243, 243, 243);
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}
.section-contact .container p {
  color: rgb(205, 205, 205);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
}
.section-contact .container form {
  /* display: -ms-grid;
  display: grid; */
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  /* background-color: #fff; */
  background-image: linear-gradient(
      rgba(0.7, 0.5, 0.5, 0.8),
      rgba(0.6, 0.7, 0.7, 0.9)
    ),
    url(../images/contactBG.jpeg);

  background-size: cover;
  padding: 32px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
/* @media (min-width: 768px) {
  .section-contact .container form {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
} */
.section-contact .container form .form-group.full {
  grid-column: 1 / -1;
}
.section-contact .container form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #888;
  font-size: 14px;
}
.section-contact .container form .form-group .form-element {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 12px 16px;
  background-color: #f3f3f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.section-contact .container form .form-group .form-element:focus {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.section-contact .container form .form-group textarea {
  resize: none;
  min-height: 100px;
}
.section-contact .container form .submit-group {
  grid-column: 1 / -1;
  text-align: right;
}
.section-contact .container form .submit-group input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  padding: 12px 16px;
  background-color: #f14400;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.section-contact .container form .submit-group input[type="submit"]:hover {
  background-color: #a83102;
}
/*# sourceMappingURL=main.css.map */

.navbar p {
  position: absolute;
  left: 8%;
  float: left;
  color: rgb(235, 230, 230);
  font-size: 2.5rem;
  font-family: MadetommyBlack;
  top: 20%;
  /* color: #f14400; */
}

.socials .fa-brands {
  color: white;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;
}

.fa-typewriter {
  color: whitesmoke;
}

.socials .fa-facebook:hover {
  color: #255dcd;
}

.socials .fa-instagram:hover {
  color: orange;
}

.socials .fa-twitter:hover {
  color: #00acee;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials a {
  position: relative;
  margin: 0 5px;
  font-weight: 400;
  font-size: 20px;
  justify-content: space-between;
  padding: 0px 65px 0px 2px;
  left: 23px;
  top: 20px;
  transition: color 0.4s ease;
}

.Logo {
  display: none;
}

@media (max-width: 768px) {
  .nav-link:hover {
    color: #101010;
  }

 
  .nav-link {
    color: white;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7.5rem;

    flex-direction: column;
    background-color: #f14400;
    width: 100%;

    /* border-radius: 10px; */
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .bar {
    background-color: white;
  }

  nav .hamburger:hover .bar {
    background-color: #255dcd;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 600px) {
}

.section-heading {
  text-align: center;
  color: white;
  position: relative;

  font-size: 4.5rem;
  margin-bottom: 40px;
}

section {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 100px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#1e1f20 50%, #f14400 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.column h3 {
  font-size: 20px;
  font-weight: 600;
  color: whitesmoke;
  margin: 1em 0;
}
.column p {
  color: #bfc0d0;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #f14400;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #f14400;
}

.column a:hover {
  background-color: rgb(135, 32, 32);
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
    position: relative;
    top: 200px;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 375px) and (max-width: 675px) {
  .ourMethod2 {
    position: absolute;
    top: 460%;
  }

  .marketingTile {
    position: relative;
    top: 450px;
    font-size: 6rem;
  }

  .sub1 {
    position: relative;
    top: -217px;
  }

  .sub2 {
    position: relative;
    top: 55px;
  }

  .salesTitle {
    position: relative;
    top: 910px;
  }

  .salesImg {
    position: relative;
    top: 621px;
  }

  .sub3 {
    position: relative;
    top: 370px;
  }

  .marketingImg {
    position: relative;
    top: 281px;
  }

  .methodMobile {
    position: relative;
    top: 215px;
    /* display: none; */
  }

  .ourMethod span {
    display: none;
  }

  .col-sm h1 {
    display: block;
    font-size: 50px;
    position: relative;
    top: 20%;
  }

  .marketing {
    position: relative;
    top: 100px;
  }

  .UNKNOW {
    font-size: 35px;
  }

  .navbar p {
    font-size: 2rem;
    position: absolute;
    left: 28%;
    top: 25%;
  }

  .UNFOR {
    font-size: 35px;
  }



  .heading h1 {
    font-size: 35px;
    position: absolute;
    left: 4%;
    top: 35%;
   
  }



  .heading p {
    font-size: 15px;
    position: absolute;
    left: 4%;
    top: 75%;
  }

  .heading img {
    width: 25%;
    height: auto;

    position: absolute;
    top: 17%;
    left: -14px;
  }

  .heading a {
    position: absolute;
    left: 4%;
    top: 100%;
  }

  .heading h3 {
    font-size: 30px;
    position: absolute;
    left: 19%;
    top: 18%;
  }

  .section-contact {
    position: absolute;
    top: 330%;
  }

  .footer {
    position: relative;
    top: 2370px;
  }

  .centered h3 {
    position: relative;
    top: -5px;
    left: 168px;
    font-size: 1.6rem;
  }

  .centered button {
    position: absolute;
    top: 110%;
    left: 66%;
  }
}
